---
import Layout from '../layouts/Layout.astro';
import Instructions from '../components/Instructions.astro';
import Header from '../components/Header.astro';
---

<Layout title="Dashboard">
  <main>
    <h1 class="text-gradient my-5 text-4xl md:my-8 md:text-6xl">Dashboard</h1>
    <Header>Dashboard</Header>
    <Instructions>...</Instructions>
    <ul role="list" class="link-card-grid"></ul>
  </main>
</Layout>

<style lang="scss">
  body {
    background: #13151a;
  }
  main {
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
