<h1 class="text-gradient my-5 text-4xl md:my-8 md:text-6xl"><slot /></h1>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
