---
import { Icon } from 'astro-icon/components';
import type { Icon as IIcon } from 'virtual:astro-icon';

interface Props {
  to: string;
  icon: IIcon;
}

const { to, icon } = Astro.props;
---

<li>
  <a
    href={to}
    class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
    <Icon name={icon} height={24} width={24} />
    <span class="ms-3">
      <slot />
    </span>
  </a>
</li>
